<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 기본기능</title>
    <link rel="stylesheet" href="../common/common.css">
    <style>
        button.clicked{background-color: blueviolet;color:#fff;border:1px solid blueviolet;padding:10px 20px;line-height:1.4em;font-size:15px;font-weight:bold;}

        .v-enter-active, .v-leave-active{
            transition: opacity 1s;
        }
        .v-enter, .v-leave-to{
            opacity: 0;
        }
    </style>
     
</head>
<body>

    <h1>Vue.js  기본기능</h1>
    <p>Vue.js의 기능은 디렉티브와 템플릿을 연동하는 형태로 사용한다.</p>
    <div class="desc">
        <h2>텍스트 바인딩</h2>
        <p>속성 이름을 작성하면, 해당 위치에 값이 렌더링된다.</p>
    </div>

    <div id="app">
        <!-- 여기 #app 내부에 템플릿을 출력할 것입니다. -->
        <p>{{message}}</p>
    </div>


    <div class="desc">
        <h2>반복 렌더링</h2>
        <p>리스트는 data 옵션에 등록한 배열 또는 객체에 v-for 디렉티브를 적용해서 반복 렌더링할 수 있다.</p>
    </div>
    <div id="app2">
        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>
    </div>

    <div class="desc">
        <h2>이벤트 사용하기</h2>
        <p>DOM 이벤트 바인딩을 할 때는 v-on 디렉티브를 사용</p>
    </div>    
    <div id="app3">
        <button v-on:click="handleClick">Click</button>
    </div>

    <div class="desc">
        <h2>입력 양식과 동기화하기</h2>
        <p>v-model 디렉티브 사용, 입력 또는 선택을 하면 곧바로 데이터와 DOM에 반영된다.</p>
    </div>    
    <div id="app4">
        <p>{{message}}</p>
        <input type="text" name="" id="" v-model="message" />
    </div>

    <div class="desc">
        <h2>조건 분기</h2>
        <p>v-if 디렉티브 사용, 템플릿 기반의 조건 분기를 실시</p>
    </div>    
    <div id="app5">
        <p v-if="show">Hello Vue.js!!</p>
    </div>

    <div class="desc">
        <h2>트랜지션과 애니메이션</h2>
        <p>네스트 컴포넌트인 transition태그를 사용하면, 템플릿 내부의 요소들에 CSS 트랜지션과 애니메이션을 손쉽게 적용</p>
    </div>    
    <div id="app6">
        <button v-on:click="show=!show">변경하기</button>
        <transition>
            <p v-if="show">Hello Vue.js</p>
        </transition>
    </div>


    <!-- vue installed -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>